body {margin:48px;
      background: #F8F6F2;
      color: #1a1a1a;
      font-family: "Instrument Sans", sans-serif;
      font-weight:300;
     }
h1 {
  font-size: 2.6rem;
  letter-spacing: 0.02em;
  margin: 0 0 6px 0;
}
p {
  margin: 0;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.header p {
  margin: 0;
  font-size: 1.9rem;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.portfolio {
      margin-top: 48px;
}
.portfolio img {
      width: 100%;
      height: auto;
      display: block;
}
